*.pyc
*.html.py
*~
*__pycache__*
*/.~lock*

.coverage

run.sh

uniticket/data/media/*
uniticket/data/static/*
!uniticket/data/static/README.md
!uniticket/data/media/README.md

uniticket/db.sqlite3
docs/build/*

uniticket/templates/base-setup.html

uniticket/static/*

uniticket/tmp/*
!uniticket/tmp/README.md

uniticket/uni_ticket_project/settingslocal.py
uniticket/uni_ticket_project_cache/*

examples-docker/*
